<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/rainy-weather.png" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="form">
        {% with message = get_flashed_messages() %}
        {% if message %}
        <div class="alert alert-primary" role="alert">
            {{message[0]|title}}
        </div>
        {% endif %}
        {% endwith %}
        <form action="/" method="POST" id="city-submit-form">
            <input type="text" placeholder="Enter City Name" name="input-city" id="input-city" required autofocus autocomplete="False">
            <button type="submit" class="submit-button" id="city_submit">Add</button>
        </form>
    </div>
    <div class="cards" id="cards">
        {% for city in data %}
        <div class="card evening-morning">
            <div class="delete-wrapper">
                <form action="{{ url_for('delete_city', city_id=city.id) }}" method="POST" class="delete-form">
                    <input type="hidden" name="delete" value="">
                    <button class="delete-button" type="submit" id="delete-button">&#10006;</button>
                </form>
            </div>
            <div class="degrees"><span>{{ city.temp }}<span class="celsius"> °C</span></span></div>
            <div class="state">{{ city.state }}</div>
            <div class="empty"></div>
            <div class="city">{{ city.city|title }}</div>
        </div>
        {% endfor %}
    </div>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>